@{
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignments</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Corry Burton - Adv. C#</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Assignments
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Assignment6_1" asp-action="Module5" asp-route-id="0">Assignment 6.1</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Olympics" asp-action="Countries" >Olympics Assignment</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        @if (ViewContext.View.Path.Contains("Countries") || ViewContext.View.Path.Contains("Details"))
        {
            <header class="text-center text-white">
                <h1 class="bg-primary mt-3 p-3">Olympic Teams</h1>

                @* show any message in TempData *@
                @if (TempData["message"] != null)
                {
                    <h4 class="bg-success p-2">@TempData["message"]</h4>
                }

            @* show link to Favorites page unless on Favorites page *@
                @if (!ViewContext.View.Path.Contains("Favorites"))
                {
                    var session = new OSession(Context.Session);
                    <h5 class="bg-info p-2">
                        <a asp-controller="Favorites" asp-action="Countries" class="text-white">
                            @(session.GetName() == null ? "My" : session.GetName() + "'s")
                            Favorite Countries
                        </a>

                        @* get number of Favorite teams from session and display in badge *@
                        <span class="badge badge-light">@(session.GetMyCountryCount())</span>
                    </h5>
                }
            </header>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Corry Burton - Advanced C#
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
